@charset "utf-8";
@font-face {
    font-family: 'GlacialIndifference';
    src: url(fonts/GlacialIndifference-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'LemonTuesday';
    src: url(fonts/LemonTuesday.otf) format('opentype');
}

:root{
    --cor1: #7da2b0;
    --cor2: #f8ecc2;
}



body{
    background-image: url(img/happy-birthday-gfaf6ab661_1920.jpg);
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    overflow-x: hidden;
}

/*Header*/
audio{
    width: 250px;
    height: 30px;
    margin: 4px;
}

/*Main*/
main{
    width: 100vw;
    height: 100vh;
}

section{
    width: 100vw;
    height: 100vw;
}

#coluna2{
    background-color: var(--cor1);
}

.textopequeno{
    font-family: 'GlacialIndifference';
    font-size: 9px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    color: white;
}

.textodestaque{
    font-family: 'LemonTuesday';
    font-size: 36px;
    margin-bottom: 0px;
    color: var(--cor2);
}

.textoamarelo{
    font-family: 'GlacialIndifference';
    font-size: 9px;
    letter-spacing: 1px;
    margin-bottom: 4px;
    color: var(--cor2);
    font-weight: bold;
}

@media (min-width: 360px) and (orientation: portrait){
    .textopequeno{
        font-size: 11px;
    }
    .textoamarelo{
        font-size: 11px;
    }
}

@media (min-width: 412px) and (orientation: portrait){
    .textopequeno{
        font-size: 12px;
    }
    .textodestaque{
        font-size: 42px;
    }
    .textoamarelo{
        font-size: 12px;
    }
}

@media (min-width: 768px) and (orientation: portrait){
    .textopequeno{
        font-size: 20px;
    }
    .textodestaque{
        font-size: 80px;
    }
    .textoamarelo{
        font-size: 20px;
    }
}

@media (orientation: landscape) {
    section{
        width: 100vh!important;
        height: 100vh!important;
    }
}

@media (min-height: 360px) and (orientation: landscape){
    .textopequeno{
        font-size: 11px;
    }
    .textoamarelo{
        font-size: 11px;
    }
}

@media (min-height: 412px) and (orientation: landscape){
    .textopequeno{
        font-size: 12px;
    }
    .textodestaque{
        font-size: 42px;
    }
    .textoamarelo{
        font-size: 12px;
    }
}

@media (min-width: 768px) and (orientation: landscape){
    .textopequeno{
        font-size: 20px;
    }
    .textodestaque{
        font-size: 80px;
    }
    .textoamarelo{
        font-size: 20px;
    }
}

/*Carrossel*/
article{
    width: 100vw;
    height: 100vh;
}

@media (orientation: landscape) {
    article{
        width: 100vh;
        height: 100vh;
        max-width: 768px;
    }
}

/*Mapa*/
#mapa p{
    font-family: 'GlacialIndifference';
    text-align: center;
    font-size: 13px;
    margin: auto;
    color: var(--cor2);
    text-shadow: 1px 1px 10px white;
}

iframe{
    width: 100vw;
    height: 75vw;
}

@media (min-width: 412px) and (orientation: portrait){
    #mapa p{
        font-size: 16px;
    }
}

@media (orientation: landscape){
    iframe{
        width: 100vh;
        max-width: 768px;
        height: 75vh;
    }
}

/*Contato*/
#whatsapp h1, a{
    font-family: 'LemonTuesday';
    color: var(--cor2);
}

#whatsapp a{
    color: var(--cor2);
    text-shadow: 1px 1px 10px white;
}

/*Imagem de <a href="https://pixabay.com/pt/users/image4you-2459255/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1420830">Harry Strauss</a> por <a href="https://pixabay.com/pt//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1420830">Pixabay</a>*/
