@charset "UTF-8";
@font-face {
    font-family: 'bubblegum';
    src: url(fonts/Bubblegum.ttf) format('opentype');
}

*{
    font-family: 'bubblegum';
    text-shadow: 2px 2px white;
}

main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.800), white, white, white, rgba(0, 0, 0, 0.800));
}

section{
    width: 100vw;
    height: 100vw;
    background: url(img/background-festa.jpg) center/cover;
    border-style: ridge;
}

#foto{
    border-style: dashed;
}

#personagens{
    position: absolute;
}

.personagem{
    animation: 10s infinite alternate ease-in-out deslizar;
}

@keyframes deslizar {
    0%{
        margin-top: 0%;
        opacity: 1;
    }
    50%{
        opacity: 0.6;
    }
    100%{
        margin-top: 80vh;
        opacity: 1;
    }
}